<!doctype html>
<head>
  <title>Hello from Flask</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
<div class="split left">
<div class="header_centered">
  <h1>Drawing</h1>
</div>
  <div class="centered">
    {% if filename %}
      <img src="{{ url_for('send_file', filename=filename) }}"/>
    {% else %}
      <h1>no image for whatever reason</h1>
    {% endif %}

  </div>
</div>

<div class="split right">
  <div class="top">
    <div style="text-indent:50px;">
      <h1>Extracted Tolerances</h1>
      <p>Maße: </p>
      <p><a href="http://localhost:5000/"> Upload another drawing </a></p>
    </div>
  </div>


  <div class="bottom">
    <div style="text-indent:50px;">
      <h1>Additional Requirements:</h1>
    </div>
    </div>
</div>


</body>

 <!--<img src="{{ url_for('send_file', filename=filename) }}" type="application/pdf" /-->